:root {
  --font-family: "Jost", sans-serif;
  --second-family: "DM Serif Display", sans-serif;
  --third-family: "Inter", sans-serif;
}
  :root{
    --title-color: #292f36;
    --nav-color: #292f36;
    --accent-color: #cda274;
    --text-color: #4d5053;
    --accent-second-color: #fff;
    --button-bg-second: #292F36;
    --border-top-color: #e5e5e5;
    --text-second-color: #fff;
    --border-color: #E7E7E7;
    --bg-color: #f4f0ec;
  }
  body{
   font-family: "Jost" , sans-serif;
   background-color: #fff;
  }
  .container{
    margin: 0 auto;
    width: 1200px;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  a, p, ul, li, h1, h2, h3{
    padding: 0px;
    margin: 0px;
  }
  /* main settings */
  .people-container{
    background-color: #f4f0ec;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 103px;
  }
  .people{
border-radius: 70px;
    background-color: var(--bg-color);
    margin: 140px 125px;
    padding-top: 103px;
    padding-bottom: 120px;
  }
  .people-wrapper{
    display: flex;
    margin-bottom: 25px;
  }
  .people-second-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .people-image{
    height: 77px;
    width: 77px;
  }
  .people-title{ 
    font-family: var(--second-family);  
font-size: 45px;
line-height: 130%;
text-align: center;
color: #292f36;
width: 479px;
margin: 0 auto;
padding-bottom: 45px;
  }
  .people-item{
    background-color: #fff;
    padding-top: 49px;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 30px;
    width: 354px;
  
  }
  .people-list{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding-bottom: 100px;
  }
  .people-subtitle{
    font-family: var(--second-family);
font-size: 25px;
line-height: 150%;
color: #292f36;
text-align: center;
  }
  .people-country{
    font-family: var(--font-family);
font-size: 18px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
text-align: center;
  }
  .people-text{
    font-family: var(--font-family);
font-size: 20px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
  }
  /* brands */
  .brands{
    margin-bottom: 100px;
  }
  .brands-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .brands-image{
    width:132px;
   min-height: fit-content;
  }
  




/* projects */
.projects{
  margin-bottom: 140px;
}
.projects-title{
  font-family: var(--second-family);
font-size: 47px;
line-height: 133%;
text-align: center;
color: #292f36;
margin-bottom: 20px;
}
.project-text{
  font-family: var(--font-family);
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: #4d5053;
margin-bottom: 70px;
}
.project-list{
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 20px) / 2);
  gap: 20px;
}
.project-subtitle{
  font-family: var(--second-family);
  font-size: 24px;
  line-height: 156%;
  letter-spacing: 0.01em;
  color: #292f36;
  margin-top: 24px;
}
.project-name{
  font-family: var(--font-family);
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
display: flex;
}
.project-name::after{
  content: "";
  background-image: url("../images/backarrow.png");
  width: 9px;
  height: 16px;
  background-repeat: no-repeat;
  
  align-items: end;
  
}

/* statistics */
.statistics{
  background-color: var(--bg-color);
padding: 140px 153px;
margin-bottom: 130px;
}
.statistics-list{
  display: flex;
  justify-content: space-around;
}

.statistics-title{
  font-family: var(--second-family);
font-size: 85px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #cda274;
}
.statistics-title::after{
  content: "";
  border: 1px solid #cda274;
height: 195px;
  margin-left: 116px;
  display: inline-block;

 
}
.statistics-name{
  font-family: var(--font-family);
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}
/* blogs */

.blogs-headline {
  font-family: var(--second-family);
  color: var(--title-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 62.4px;
  text-align: center;
}
.blogs-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}
.blogs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.blogs-item {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 62px;
  flex-basis: calc((100% - 40px) / 3);
  padding: 21px 20px 40px;
}
.blogs-img {
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
  max-width: 345px;
}
.blogs-title {
  font-family: var(--second-family);
  font-weight: 400;
  max-width: 343px;
  font-size: 26px;
  line-height: 35px;
  color: var(--title-color);
}
.blogs-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  max-width: 343px;
  line-height: 24px;
  color: var(--text-color);
}
.blogs-button {
  border-radius: 100%;
  background-image: url(../images/backarrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color);
  width: 52px;
  height: 52px;
  border: none;
}
.blogs-date::after {
  content: "";
  border-radius: 100%;
  background-image: url(../images/backarrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color);
  width: 52px;
  height: 52px;
  border: none;
}

/* join */
.join {
  margin: 141px auto 138px;
}
.join-container{
  background-color: var(--second-bg-color);
  border-radius: 70px;
  text-align: center;
}
.join-title {
  color: var(--text-second-color);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  padding-top: 100px;
  margin: 100px 0 9px;
}
.join-text {
  font-family: var(--font-family);
  color: var(--text-second-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-top: 9px;
}
.join-button {
  box-shadow: 1px 0px 18px 0px #00000033;
  color: var(--text-second-color);
  padding: 22px 34px;
  margin: 31px 0 95px;
  font-family: var(--font-family);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 18px;
  cursor: pointer;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-wrap:first-child {
  width: 326px;
}
.footer-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 37.5px;
  color: var(--title-color);
}
.footer-logo {
  padding-bottom: 25px;
}
.footer-text {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  padding-bottom: 10px;
}
.footer-media-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 181px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-title {
  font-family: var(--second-family);
  color: var(--title-color);
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
}
.footer-link {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.footer-address {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.footer-item-address {
  width: 321px;
}
.footer-copyright {
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 35px;
  border-top: var(--border-top-color) solid 1px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}
.footer-autor {
  color: var(--accent-color);
}

