:root {
  --font-family: "Jost", sans-serif;
  --second-family: "DM Serif Display", sans-serif;
  --third-family: "Inter", sans-serif;
}
  :root{
    
    --title-color: #292f36;
    --nav-color: #292f36;
    --accent-color: #cda274;
    --text-color: #4d5053;
    --accent-second-color: #fff;
    --button-bg-color: #cda274;
    --border-top-color: #e5e5e5;
    --bg-color: #f4f0ec;
    --second-bg-color: #292f36;
    --text-second-color: #fff;

    --border-color: #E7E7E7;
    --button-bg-second: #292F36;

    --border-color: #e7e7e7;
    --second-button-bg-color: #292F36;

  }
  body{
   font-family: "Jost" , sans-serif;
   background-color: #fff;
  }
  .container{
    margin: 0 auto;
    width: 1200px;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  a, p, ul, li, h1, h2, h3{
    padding: 0px;
    margin: 0px;
  }
  /* main settings */
  .people-container{
    background-color: #f4f0ec;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 70px;
    padding-top: 103px;
  }
  .people{

    

    background-color: var(--bg-color);
    margin: 140px 125px;

    padding-top: 103px;
    padding-bottom: 120px;
  
    
  }
  .people-image{
    height: 77px;
    width: 77px;
  }
  .people-title{ 
    font-family: var(--second-family);  
font-size: 45px;
line-height: 130%;
text-align: center;
color: #292f36;
width: 479px;
margin: 0 auto;
padding-bottom: 45px;
  }
  .people-item{
    background-color: #fff;
    padding-top: 49px;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 30px;
    width: 354px;
    height: 287px;
  }
  .people-list{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding-bottom: 100px;
  }
  .people-subtitle{
    font-family: var(--second-family);
font-size: 25px;
line-height: 150%;
color: #292f36;
text-align: center;
  }
  .people-country{
    font-family: var(--font-family);
font-size: 18px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
margin-left: 112px;
  }
  .people-text{
    font-family: var(--font-family);
font-size: 20px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
  }
  /* brands */
  .brands-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .brands-image{
    width:132px;
   min-height: fit-content;
  }
  




/* projects */

/* statistics */
.statistics{
  background-color: var(--small-bg-color);
padding: 140px 187px 140px 153px;
}
.statistics-list{
  display: flex;
  justify-content: space-around;
}

.statistics-title{
  font-family: var(--second-family);
font-size: 85px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #cda274;
}
.statistics-title::after{
  content: "";
  border: 1px solid #cda274;
  height: 195px;
  margin-left: 116px;
}
.statistics-name{
  font-family: var(--font-family);
font-size: 22px;
line-height: 150%;
letter-spacing: 0.01em;
color: #4d5053;
margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}
/* blogs */

.blogs-headline {
  font-family: var(--second-family);
  color: var(--title-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 62.4px;
  letter-spacing: 0.22px;
  text-align: center;
}
.blogs-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  text-align: center;
}
.blogs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.blogs-item {
  border: 1px solid var(--border-color);
  border-radius: 62px;
  flex-basis: calc((100% - 20px) / 3);
  padding: 21px 21px 15px;
}
.blogs-link {
font-family: 4;
}
.blogs-img {
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
  width: 100%;
}
.blogs-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.5px;
  color: var(--title-color);
}
.blogs-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: var(--text-color);
}

/* join */
.join {
  padding: 141px auto 138px;
}
.join-container{
  background-color: var(--second-bg-color);
  border-radius: 70px;
  align-items: center;
}
.join-title {
  color: var(--text-second-color);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;

  letter-spacing: 0.22px;
  padding: 100px auto 9px;
  text-align: center;
}
.join-text {
  font-family: var(--font-family);
  color: var(--text-second-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 9px auto 31px;
  text-align: center;
}
.join-button {
  box-shadow: 1px 0px 18px 0px #00000033;
  color: var(--text-second-color);
  padding: 22px 34px;
  font-family: var(--font-family);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 18px;
  margin-bottom: 95px;
  align-self: center;
  cursor: pointer;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: row;
}
.footer-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 37.5px;
  letter-spacing: 0.22px;
  color: var(--title-color);
}
.footer-icon{
  border-top-left-radius: 100%;
}
.footer-text {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;

}
.footer-title {
  font-family: var(--second-family);
  color: var(--title-color);
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
  letter-spacing: 0.22px;
}
.footer-link {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.footer-address {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.footer-copyright {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  text-align: center;
}
.footer-autor {
  color: var(--accent-color);
}

