:root {
    --font-family: "Jost", sans-serif;
    --second-family: "DM Serif Display", sans-serif;
    --third-family: "Inter", sans-serif;
  }

:root{
    --main-color:#CDA274;
    --main-title-color:#292F36;
    --nav-title-color:#292F36;
    --accent-color:#CDA274;
    --text-color:#4D5053;
    --accent-second-color:#fff;
    --button-bg:#CDA274;
    --border-color:#E7E7E7;
    --small-bg-color:#F4F0EC;
    --text-second-color:#fff;
}
